{{>Navbar}}

{{#each mensajes}}
      <div class="class alert alert-primary mb-2">{{this.msg}}</div>
    {{/each}}

<h2 class="text-center text-primary my-5">Login de Usuarios</h2>

<div class="container text-white" style="width: 20rem;">
  {{!-- <div class="col-md-6"> --}}
    <form action="/login" method="POST">

      {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}

      <input
        type="text"
        name="email"
        class="form-control mb-2"
        placeholder="Ingresa tu email"
        required
      />

      <input
        type="password"
        name="password"
        class="form-control mb-2"
        placeholder="Ingresa tu password"
        required
      />      
      
      <button class="btn btn-primary" type="submit">Acceder</button>

      <p align="right" class="nuevo">Eres nuevo?  <a href="/addUser ">Regístrate aquí</a></p>

      <p align="right" class="tienda">La Tienda?  <a href="/api/v1/product ">Dale aquí</a></p>

      
    </form>
  {{!-- </div> --}}
</div>