<div class="container text-white" style="width: 20rem;">
  <h3 class="text-primary">Medios de Pago Aceptados</h3>
  <hr />
  <div class="card shadow bg-dark">
    <button class="btn btn-primary btn-sm">Efectivo</button>
    <p>En moneda nacional,máxima denominación aceptada es el billete de
      S/100(Cien soles).</p>
  </div>

  <div class="card shadow bg-dark">
    <button class="btn btn-primary btn-sm">Yape, Plin</button>
    <p>Cuando elijes pagar con tu billetera electrónica(Yape o Plin), te
      proporcionaremos nuestros números.</p>
  </div>

  <div class="card shadow bg-dark">
    <button class="btn btn-primary btn-sm">Depósito en cuenta bancaria o
      transferencia</button>
    <p>Hacemos el despacho una vez confirmada la transacción y disponibilidad
      del monto pagado en nuestras cuentas.</p>
  </div>

  <div class="card shadow bg-dark">
    <button class="btn btn-primary btn-sm">Tarjeta de Crédito o Débito</button>
    <p>Todas las tarjetas que se procesan con la terminal de Izypay.</p>
  </div>
</div>