<div class="container-fluid mt-3">
  <div class="row">
    <div class="col">
      <a href="/api/v1/addProduct" class="btn btn-lg w-100 btn-info my-2">Crear
        Productos Nuevos</a>
      <a href="#" class="btn btn-lg w-100 btn-warning my-2">Editar Productos</a>
      <a href="#" class="btn btn-lg w-100 btn-danger my-2">Eliminar Productos</a>
      <a
        href="/api/v1/product"
        class="btn btn-lg w-100 btn-primary my-2"
      >Mostrar Productos</a>
    </div>
  </div>
</div>